{{define "content"}}
<a href="/monitors/new" class="button is-primary is-medium is-fullwidth">New Monitor</a>
<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{range $index, $monitor := .MonitorService.Monitors}}
        <tr>
            <td>{{.Name}}</td>
            <td><a href="{{.URL}}">{{.URL}}</a>
            </td>
            <td>
                <form method="POST">
                    <input type="hidden" name="monitorid" value="{{$index}}"></input>
                    <div class="buttons">
                        {{if .IsRunning}}
                        <input type="submit" class="button is-small is-danger" name="stop" value="Stop"></input>
                        {{else}}
                        <input type="submit" class="button is-small is-primary" name="start" value="Start"></input>
                        {{end}}
                        <a class="button is-small is-link" href="/monitors/{{$index}}/edit">Edit</a>
                    </div>
                </form>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}